div.row
  div.col-lg-12
    h1.page-header meus favoritos
      small ~ cadastre seus principais sites, não feeds.

    p Organize seus sites principais de tutoriais, dicas, curiosidades, informações rápidas e afins. Consulta de bolsa aos favoritos  

  div.col-lg-12
    h2.page-header até o momento

div.row
  div.col-lg-4.col-sm-6
    img.img-circle.img-responsive(src="http://placehold.it/200x200")
    h3 nome do site
      small descrição
    p mussum ipsum cacilds

  div.col-lg-4.col-sm-6
    img.img-circle.img-responsive(src="http://placehold.it/200x200")
    h3 nome do site
      small descrição
    p mussum ipsum cacilds

  div.col-lg-4.col-sm-6
    img.img-circle.img-responsive(src="http://placehold.it/200x200")
    h3 nome do site
      small descrição
    p mussum ipsum cacilds

  div.col-lg-4.col-sm-6
    img.img-circle.img-responsive(src="http://placehold.it/200x200")
    h3 nome do site
      small descrição
    p mussum ipsum cacilds

  div.col-lg-4.col-sm-6
    img.img-circle.img-responsive(src="http://placehold.it/200x200")
    h3 nome do site
      small descrição
    p mussum ipsum cacilds

  div.col-lg-4.col-sm-6
    img.img-circle.img-responsive(src="http://placehold.it/200x200")
    h3 nome do site
      small descrição
    p mussum ipsum cacilds


