extends layout

block body
  div(ng-controller='AppCtrl')
    
    <!-- header -->
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle
            span.sr-only toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          <!-- logo, its better with responsive image -->    
          a.navbar-brand(href="/inicio") logotipo

    <!-- /header -->    

    <!-- content -->
    div.container
      div(ng-view)

      hr 

      footer
        div.row
          div.col-lg-12
            p &copy; favsites 2014

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/lib/bootstrap/jquery-1.10.2.js')
  script(src='js/lib/bootstrap/bootstrap.js')
